.jumbotron {
  background-color: rgb(12, 12, 56)!important;
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
  color: white!important;
}

.crystal-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  padding-left: 20px;
}

#wins-box {
  width: 200px;
  height: 50px;
  /* background-color: rgb(145, 190, 228, .6); */
  font-weight: bold;
  padding-left: 20px;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 25px;
}

#losses-box {
  width: 200px;
  height: 50px;
  /* background-color: rgb(145, 190, 228, .6); */
  font-weight: bold;
  padding-left: 20px;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 25px;
}

#score-box {
  width: 500px;
  height: 50px;
  /* background-color: rgb(183, 241, 243, .6); */
  font-weight: bold;
  padding-left: 20px;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 25px;
}

#howToPlay {
  padding-left: 20px;
  color: white;
  font-family: 'Righteous', cursive;
  /* background-color: rgb(127, 255, 212, .4); */
}

#random-number-box {
  padding-left: 20px;
  color: white;
  /* background-color: rgb(127, 255, 212, .4); */
  font-family: 'Righteous', cursive;
}